
<div class="hell">
    <section class="car-section">
      <div class="car-card" onclick="displayProduct('Lamborghinis')">
        <h4>Lamborghinis</h4>
        <img class="image" src="../assets/images/image1.jpg">
      </div>
      <div class="car-card" onclick="displayProduct('Dodge Charger RT')">
        <h4>Dodge Charger RT</h4>
        <img class="image" src="../assets/images/image2.png">
      </div>
      <div class="car-card" onclick="displayProduct('Mercedes')">
        <h4>Mercedes</h4>
        <img class="image" src="../assets/images/image3.jpg">
      </div>
      <div class="car-card" onclick="displayProduct('Porsche')">
        <h4>Porsche</h4>
        <img class="image" src="../assets/images/image4.png">
      </div>
      <div class="car-card" onclick="displayProduct('Mustang')">
        <h4>Mustang</h4>
        <img class="image" src="../assets/images/image5.png">
      </div>
      <div class="car-card" onclick="displayProduct('Aston martin')">
        <h4>Aston martin</h4>
        <img class="image" src="../assets/images/image6.png">
      </div>
      <div class="car-card" onclick="displayProduct('BMW')">
        <h4>BMW</h4>
        <img class="image" src="../assets/images/image7.png">
      </div>
    </section>
  </div>

  <div id="productModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <div id="productDetails"></div>
    </div>
  </div>

 


        
